/* .rowBox {
    border: 1px solid black;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
} */

/* Inner box */
.rowBox {
    flex: 1; /* Allows boxes to expand equally */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 1px solid black; /* Border only between items */
    border-bottom: 1px solid black;
}

.rowBox-id{
    flex: 1; /* Allows boxes to expand equally */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 1px solid black; /* Border only between items */
    border-bottom: 1px solid black;
}

.rowBox-top {
    flex: 1; /* Allows boxes to expand equally */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 1px solid black;
    border-radius: 3px;
}

.rowBox-right {
    flex: 1; /* Allows boxes to expand equally */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.rowBox select {
    width: 100%;
}

.no-border-select {
    border: none;
    outline: none;
    background: transparent;
    width: 100%; /* Ensures the select still fills the div */
    height: 100%; /* Matches the div's height if needed */
    font: inherit; /* Ensures font consistency */
    padding: 0; /* Optional, if you want to control padding */
    margin: 0; /* Optional, if you want to control margin */
}

.no-border-select .ant-picker-input > input {
    padding-left: 5px; /* Adjust this value to move text to the right */
}

.category-remove-end{
    height: 35px;
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}