form input{
    border : 1px transparent;
    background-color : #0001;
    border-radius : 5px; 
    outline: none;
    padding: 6px 8px;
    font-weight: 500;
    font-size: medium;
}
form h2{
    margin: 5px;
}

/* Center the form title and add subtle spacing */
.ant-typography {
  text-align: center;
}

div[role="form"] {
  margin-top: 8px;
}
