.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 1200px;
}

.fixed-div {
  position: fixed;
  bottom: 50px;
  right: 30px;
  padding: 20px;
  color: blue;
  font-style: italic;
  font-size: larger;
  border-radius: 8px;
  /* Optional: rounded corners */
}