.calendar-container {
    margin-top: 20px;
}

.date-header {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.header1 {
    font-weight: bold;
    background-color: #ddd;
}

.grid-header-item {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 70px;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
}

.calendar-header Button {
    background-color: #ddd;
}

.disabled {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 70px;
    border: 1px solid gray;
    font-size: 18px;
    font-weight: bold;
    background-color: #f0f0f0;
    opacity: 0.5;
    pointer-events: none;
}

.week-days {
    justify-content: flex-start;
    border: 1px solid #2222;
    background-color: #f0f0f0;
    width: 150px;
    height: fit-content;
    position: relative;
}

.time-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.day-view {
    display: flex;
    width: 500px;
}

.time-column {
    display: flex;
    flex-direction: column;
    width: 80px;
    background: #ececec;
}

.time-slot {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}

.event-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.event-slot {
    height: 50px;
    border-bottom: 1px solid #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}