
.header{
    width: 100%;
    display: flex;
    background-color: #373d4b;
    align-items: center;
    position: fixed;
    color: azure;
    top: 0px;
    z-index: 1000;
    justify-content: space-between;
}

.header-left{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}
.header-right{
    display: flex;
    align-items: center;
    justify-content: center;
}