.nameCard {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.nameCard h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.nameCard p {
    font-size: 1rem;
    color: #666;
}

/* .list {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.list-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.list-item p {
    margin-top: 5px;
    color: #555;
} */